<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Nezhdanchik" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-base-100">
    <%= render "shared/header" %>

    <main class="container mx-auto px-5">
      <div class="bg-base-200 p-8 min-h-screen my-0">

        <% flash.each do |type, message| %>
          <% css_class =
              case type.to_sym
              when :notice then "alert alert-success"
              when :alert  then "alert alert-error"
              else "alert"
              end %>
          <div class="<%= css_class %> mb-4">
            <span><%= message %></span>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
