<!DOCTYPE html>
<html>
  <head>
    <title>Нежданчик</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= favicon_link_tag "logo.png", rel: "icon", type: "image/png" %>
    <%= tag.link rel: "apple-touch-icon", href: asset_path("logo.png") %>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-base-100">
    <% unless controller_name.in?(%w[sessions users two_factor email password]) && 
      action_name.in?(%w[new create verification confirmation change_status confirm resend_confirmation change update forgot reset success]) 
    %>
      <%= render "shared/header" %>
    <% end %>

    <main class="container mx-auto px-5">
      <div class="bg-base-200 p-8 min-h-screen my-0">
        <% flash.each do |type, message| %>
          <% css_class =
              case type.to_sym
              when :notice then "alert alert-success"
              when :alert  then "alert alert-error"
              else "alert"
              end %>
          <div class="<%= css_class %> mb-4">
            <span><%= message %></span>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>

    <% unless controller_name.in?(%w[sessions users two_factor email password]) && 
      action_name.in?(%w[new create verification confirmation change_status confirm resend_confirmation change update forgot reset success])
    %>
      <%= render "shared/footer" %>
    <% end %>
  </body>
</html>
